@if(showDialog()){
  <app-dialog (sendInfo)="onSendInfo($event)"/>
}

<section>
  <a routerLink="/" id="back-icon">
    <i class="fa-sharp fa-solid fa-circle-arrow-left"></i>
  </a>
  <div id="book-details">
    <img [src]="book()?.imageUrl"/>
    <div class="book-information">
      <h3>{{ book()?.name | titlecase }}</h3>
      <i>~{{ book()?.author | titlecase }}~</i>
      <p class="p-3">
        {{ book()?.summary }}
      </p>


      <button class="btn btn-primary w-100 mt-3" (click)="onRentBook()">Kitabı Kirala</button>
    </div>
  </div>
</section>




