<div id="dialog-back" (click)="onCloseDialog()">
</div>

<div id="dialog-content">
  <form [formGroup]="updateBookDialogForm" (ngSubmit)="onSubmitDialog()">
    <input type="hidden" formControlName="bookId"/>

    <div class="mb-3">
      <label for="bookName" class="form-label">Book Name</label>
      <input type="email" class="form-control" id="bookName" placeholder="please enter a book name"
             formControlName="bookName"
      >
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="email" class="form-control" id="author" placeholder="please enter author of book"
             formControlName="author">
    </div>

    <div class="d-flex justify-content-between">
      <button mat-stroked-button (click)="onCloseDialog()">İptal</button>
      <button mat-flat-button>Kaydet</button>
    </div>
  </form>
</div>
