#dialog-back {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#dialog-content {
  background-color: #232222;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #d5208e;
  z-index: 1001;
  box-shadow: 0 2px 10px rgba(44, 43, 43, 0.6);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 30vw;
}
